### venv ###
# Virtualenv
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
.env
# Ignore all __pycache__ folders
**/__pycache__/

# Ignore all migrations folders inside apps
**/migrations/
